@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="~/css/error400.css">
</head>
<body>
    <div class="container">
        <h1 class="animate__animated animate__bounce">400</h1>
        <p class="animate__animated animate__fadeInUp">Oops! Bad Request</p>
        <a href="/" class="button animate__animated animate__slideInUp">Go Back Home</a>
    </div>
</body>