@font-face {
    font-family: 'Bitter';
    src: url('../Fonts/Bitter-VariableFont_wght.ttf') format('ttf');
}


body {
    background-image: url("../background-img.jpg");
}

.navbar {
    background-color: black;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    margin-left: 26px;
}

.navbar-brand {
    color: red !important;
    font-weight: bold;
    font-style: italic;
}

button {
    background-color: black;
    padding-right: 0;
    padding-left: 0;
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
}

.home-text {
    position: absolute;
    top: 10%;
    left: 52%;
    font-size: 38px;
    font-family: Bitter;
    font-style: italic;
    font-weight: bold;
    color: beige;
}
