@ViewBag.Title = "Authorization Successful";

<body>
    <h1>Authorization Successful</h1>
    <p>Your application has been successfully authorized to access Dropbox.</p>
    <p>You can now close this window and return to the application.</p>
</body>